@{
    ViewBag.Title = "Home Page";
}

@model List<string>

<script>

    function ButtonClicked(value) {
        ShowQuestion(value)
    };

    function ShowQuestion(value) {
        var id = 0;
        var boolString = '';

        if (value == 'start') {
            $('#question').data('boolValue', boolString);
        }
        else {
            id = $('#question').data('id');
            boolString = $('#question').data('boolValue') + value;
            $('#question').data('boolValue', boolString);
        }

        $.getJSON("/Home/GetQuestion/", { 'id': id, 'boolString': boolString } , function (result) {
            if (result.questionID != 'answer') {
                $('#questionPanel').show();
                $('#answerPanel').hide();
                $('#question').text(result.question);
                $('#question').data('id', result.questionID);
            }
            else {
                $('#questionPanel').hide();
                $('#answerPanel').show();
                $('#answer').text(result.question);
            }
        });
    }
    function StartGame() {
        ShowQuestion('start');
        $('#Animal').hide();
        $('#Game').show();

    }
    function ReStartGame() {
        $('#Animal').show();
        $('#Game').hide();
    }
</script>

<div class="jumbotron" id="Animal">
    <h1>Aminals in our list</h1>
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <h2>@item </h2>
        </div>
    }
    <div class="col-md-12">
        <a id="start" class="btn btn-default" onclick="StartGame()">Start the Game</a>
    </div>
</div>

<div class="jumbotron" id="Game" hidden>
    <h1>Let us find out the animal your are thinking about</h1>
    <div id="questionPanel">
        <div class="col-md-12">
            <h2 id="question"></h2>

        </div>
        <div class="col-md-12">
            <a id="btnYes" class="btn btn-default" onclick="ButtonClicked('1')">Yes</a>
            <a id="btnNo" class="btn btn-default" onclick="ButtonClicked('0')">No</a>
        </div>
    </div>
    <div id="answerPanel">
        <div class="col-md-12">
            <h2 id="answer"></h2>

        </div>
    </div>
    <div class="col-md-12">
        <a id="reStart" class="btn btn-default" onclick="ReStartGame()">Re-Start</a>
    </div>
</div>